.container {
    margin: auto;
    width: 80%;
    height: 600px;
}

.arrow {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -999em;
}

.arrow.prev {
    background-image: url(./img/chevron-left-arrow.png);
}

.arrow.next {
    background-image: url(./img/chevron-right-arrow.png);
}